@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");

body {
  line-height: 26px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: url(../img/images.jpg) no-repeat center;
  /* background-color: #ddd !important; */
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #050505;
  
}

h2{
  color: rgb(0, 0, 0);
  font-family:  'Open Sans', sans-serif;
}

.content {
  min-height: 60vh;
}

.container .button-row {
  text-align: center;
  margin: 20px auto;
}

#video-result {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#video {
  margin: 20px 0px;
  width: 720px;
  height: 520px;
  border: 1px solid #242424;
}

#video-result video,
#video-result canvas {
  display: block;
}

canvas {
  position: absolute;
  /* top: 66px; */
}

.button-width {
  width: 300px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}

@media (max-width: 991.98px) {
  #video-result #video,
  #video-result canvas {
    width: 80%;
    height: 200px;
    
    /* bor */
  }
}

@media (max-width: 576px) {
  .main-header .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 1em;
  }
}

/* Login form */

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /*background:#f2f2f2;*/
  background-repeat: no-repeat; /* Para que no repita la imagen de fondo */
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 400px; /* Ancho del panel */
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  padding: 30px 25px 33px 25px; /* 77px 55px 33px 55px; */
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;

  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  /* position: absolute; */
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  /* 
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff); */
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080; /* #999999;  */
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}
input:focus {
  background-color: transparent;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #aeb8f8;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  background: #a64bf4;
  padding: 5px 0px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f3f3f3;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Login form ends here */

/* User type card starts here */

.user-types {
  align-content:center;
  align-self: center;
}

.user-types .user-content {
align-self:center;
  padding: 90px 40px;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(80, 80, 80, 0.527) ,rgba(0, 0, 0, 0.596));
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  
}

.user-types .user-content .row
{
  padding-top: 4%;
  padding-left: 25%;
  padding-right: 0%;
}

.user-content h2 , .user-content .main-paragraph {
  position: relative;
  background-color: transparent;
  border-bottom-left-radius : 100%;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%  ;
  font-weight: bolder;
  font-family:  'Open Sans', sans-serif;
  color:white;
  padding-left: 30%;
  padding-top: 20px;
  padding-bottom: 2px ;
  margin-bottom: 1px;
}
/* .user-content h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  border-radius: 20px;
  width: 70px;
  background-color: rgb(117, 0, 133);
} */
.user-content .user-type-inner {
  color: rgb(255, 255, 255);
  border-bottom: #000000;
  border: transparent;
  border-radius: 10%;
  padding: 40px 10px;
  text-align: center;
  transition: all 0.6s ease-in-out;
  
}

.user-content .card-inner-text{
  color: white;
  height: max-content;
}
.user-content .user-type-inner:hover {
  border-bottom: #000000;
  border-width: 1mm;
  border-bottom:solid;
  border-top: solid;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}




/* .... */

.user-content .user-image {
  margin-bottom: 20px;
}
.arrow-btn {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.arrow-btn a:first-child {
  font-size: 25px;
}
.arrow-btn a:last-child {
  font-size: 25px;
  background-color: purple;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.arrow-btn a i {
  color: #fff;
  font-size: 20px;
  line-height: 1;
}

.icon-style{
  font-size: 52px;
  /* color: #334756; */
}



/* User type card ends here */


.main-heading{
  font-size: 50px;
}
.main-paragraph{
  text-align: center;
}

/*Trying logo spin*/
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css"; 


#set-1 {
    background:  #41AB6B;
}

.hi-icon-wrap {
    padding: 2em 0 3em;
    text-align: center;
}
.hi-icon {
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    height: 90px;
    margin: 15px 30px;
    position: relative;
    text-align: center;
    width: 90px;
}

.hi-icon:before {
    display: block;
    font-size: 48px;
    line-height: 90px;
   
}

.hi-icon-effect-1 .hi-icon {
    background: rgba(255, 255, 255, 0.1);
}
/*logo spin ends here*/



/* Response message  */

.response-message{
  color: #c80000;
  font-size: 16;
  font-weight: 500;
  text-align: center;
  
}